@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center">Admin Dashboard</h1>
<div class="d-flex justify-content-center mt-5">
    <a asp-area="" asp-controller="Departments" asp-action="Index" class="btn btn-primary btn-lg me-3">Manage Departments</a>
    <a asp-area="" asp-controller="Employee" asp-action="Index" class="btn btn-danger btn-lg">Manage Employees</a>
</div>
